<div>
  <%= form_with model: @book, local: true do |form| %>
    <div>
      <%= form.label :title, "Title" %>
      <%= form.text_field :title, required: true %>
    </div>

    <div>
      <%= form.label :author, "Author" %>
      <%= form.text_field :author, required: true %>
    </div>

    <div>
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, rows: 5 %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
