<!DOCTYPE html>
<html>
  <head>
    <title>Books List</title>
  </head>
  <body>
    <div class="container">
      <h2>Books</h2>
      <%= link_to 'Add Book', new_book_path, class: 'btn btn-primary mb-3' %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <td><%= truncate(book.description, length: 50) %></td>
              <td>
                <%= link_to 'Show', book_path(book), class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
